
#education > h2 > img{
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
    background-color:white;
    height: 70px;
    width: 70px;
}
#experience > h2> img {

    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
    background-color: white;
    height: 70px;
    width: 70px;

}
#exp{
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
    background-color: white;
    height: 70px;
    width: 70px;
}
.fimg{
    
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 0.75rem;

}
#section-one{
    display: flex;

    background: url("../IMAGES/bg.jpg");
    
    color:white;

   
}
#section-five{

    color: white;
    background: url("../IMAGES/bg.jpg");
    
   


}

 

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}


#feature-one{

    background-color: white;
    border-radius: 40%;
    
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resume{
    color: antiquewhite;
}





.scroll-container {
    display: flex;
    overflow-x:scroll;
    overflow-y: scroll;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 300px; /* Set height to match the boxes */
    box-sizing: border-box;
    background-color: transparent; /* Make the container background transparent */
    padding: 0; /* Remove padding */
    border: none; /* Remove border */
    align-items: center; /* Center the boxes vertically */
}

.box {
    width: 500px;
    height: 250px;
    margin-right: 10px;
    background-color: rgba(4, 4, 247, 0.95);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex: 0 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.box:last-child {
    margin-right: 10px;
}











